.main-login {
    background-color: #12002b;
    display: flex;
    justify-content: center;

}

.form-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}

.login-icon {
    font-size: 1.2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

.input-remember {
    display: flex;
}

.login-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}

.form-title {
    font-size: 1.5rem;
}