.user-main {
    background-color: #12002b;
}

.user-header {
    color: #fff;
    margin-bottom: 2rem;
}

.section-account {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}