.banner {
    background-image: url('../../assets/bank-tree.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 0% 33%;
    height: 400px;
}

.content-banner {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
    background: white;
    padding: 2rem;
    text-align: left;
}

.title-banner {
    font-weight: bold;
    margin: 0;
    font-size: 1.5rem;
}

.text-banner {
    font-size: 1.2rem;
}